@import '../../../assets/scss/styles.scss';

.socialList {

    display: flex;
    align-items: center;
    padding: 0 23px;

    height: 50px;

    >.left {
        display: flex;
        align-items: center;
        width: 50%;

        >svg {
        }

        >p {
            margin-left: 11px;
        }
    }

    >.right {
        display: flex;
        justify-content: space-between;

        align-items: center;
        width: 50%;

        color: #313131;

        >.visitorsNumber {
            margin-left: 40px;
        }
    }
}